$primary-color: #e68a49;
$secondary-color: #47a4e6;
$success-color: #50bf60;
$danger-color: #f23720;
$background-color: #fff9f9;
$text-color: #322;
$dark-color: #030303;

$content-width: 50em;

@mixin alert($color: $primary-color) {
  color: $background-color;
  background: $color;
  padding: 0.1px 1rem;
  border-radius: 5px;
}
