@import url('https://fonts.googleapis.com/css?family=Roboto+Slab:300,400,500');
@import './variables';

// General
html {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

*,
*:before,
*:after {
  -webkit-box-sizing: inherit;
  -moz-box-sizing: inherit;
  box-sizing: inherit;
}

// General
body {
  font-size: 16px;
  background: $background-color;
  font-family: 'Roboto Slab', 'Helvetica', 'Arial', sans-serif;
  line-height: 1.75;
  color: $text-color;
  margin: 0;
  padding: 0;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
  -webkit-tap-highlight-color: transparent;
  -webkit-overflow-scrolling: touch;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: 400;
  line-height: 1.25;
  margin: 0;
  padding: 0;
}

h1 {
  margin-top: 0;
  font-size: 3.052rem;
}

h2 {
  padding: 0 0 1rem 1rem;
  border-bottom: 1px solid $text-color;
  font-size: 2.441rem;
}

h3 {
  font-size: 1.953rem;
}

h4 {
  font-size: 1.563rem;
}

small {
  font-size: 0.8rem;
}

a {
  color: $primary-color;
  text-decoration: none;

  &:hover {
    text-decoration: underline;
  }
}

ol,
ul {
  > li {
    margin-bottom: 0.5em;
  }

  ul,
  ol {
    li {
      margin-bottom: auto;
    }
  }
}

ul {
  list-style-position: inside;
  margin: 0;
  padding: 0;

  ul {
    padding: 0 1.5em;
  }
}

.lead {
  font-size: 1.25rem;
}

.container {
  margin: 0 auto;
  max-width: $content-width;
}

article {
  @extend .container;
  padding: 4em 1em;

  @media screen and (max-width: $content-width) {
    padding: 2em 1em;
  }

  img {
    max-width: 100%;
  }

  .image-description {
    font-size: 0.85em;
    color: $secondary-color;
    font-style: italic;
  }
}

button,
input {
  outline: none;
  padding: 0.5rem;
  border-radius: 0;
  font-family: 'Roboto Slab', 'Helvetica', 'Arial', sans-serif;
  line-height: 1.5;
}

input[type='text'] {
  border: 1px solid $text-color;

  &:focus {
    border-color: $primary-color;
  }
}

button,
input[type='submit'] {
  cursor: pointer;
  background: $primary-color;
  color: #fff;
  border: none;

  &:hover {
    background: lighten($primary-color, 10%);
  }

  &:active {
    background: darken($primary-color, 10%);
  }
}

// Checkbox

.checkbox-group {
  margin: 1rem 0;

  button {
    margin-right: 1em;
  }

  .checkbox-items {
    display: flex;
    flex-wrap: wrap;
    margin-bottom: 0.5em;

    .checkbox-item {
      margin-right: 1rem;

      .checkbox-container {
        display: block;
        position: relative;
        padding-left: 1.5em;
        cursor: pointer;
        user-select: none;

        input {
          position: absolute;
          opacity: 0;
          cursor: pointer;
          height: 0;
          width: 0;
          margin-left: 1em;
        }

        .checkmark {
          position: absolute;
          top: 0.2em;
          left: 0;
          height: 1em;
          width: 1em;
          background-color: #eee;

          &:after {
            content: '';
            position: absolute;
            display: none;
            left: 0.4em;
            top: 0.1em;
            width: 0.3em;
            height: 0.7em;
            border: solid white;
            border-width: 0 3px 3px 0;
            -webkit-transform: rotate(45deg);
            -ms-transform: rotate(45deg);
            transform: rotate(45deg);
          }
        }

        .checkmark &:hover input ~ .checkmark {
          background-color: #ccc;
        }

        input:checked ~ .checkmark {
          background-color: $primary-color;
        }

        input:checked ~ .checkmark:after {
          display: block;
        }
      }
    }
  }
}

// Sections

.example {
  @include alert($primary-color);
}

.info {
  @include alert($secondary-color);
}

.pros,
.cons {
  margin-top: 1rem;
  ul {
    list-style-type: none;

    li {
      padding-left: 2rem;
      background-position: 0 0.3rem;
      background-size: 1rem;
      background-repeat: no-repeat;
    }
  }
}

.pros ul li {
  color: $success-color;
  background-image: url(../images/plus.png);
}

.cons ul li {
  color: $danger-color;
  background-image: url(../images/minus.png);
}

.column {
  display: inline-block;
  width: 50%;
  vertical-align: top;

  @media screen and (max-width: $content-width) {
    display: block;
    width: 100%;
    margin-bottom: 2rem;
  }
}
