@import url('https://fonts.googleapis.com/css?family=Roboto+Slab:300,400,500');
@import './variables';

// General
html {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

*,
*:before,
*:after {
  -webkit-box-sizing: inherit;
  -moz-box-sizing: inherit;
  box-sizing: inherit;
}

// General
body {
  background: url(../images/background.jpg);
  font-family: 'Roboto Slab', 'Helvetica', 'Arial', sans-serif;
  line-height: 1.5;
  color: $text-color;
  margin: 0;
  padding: 0;
}

h1,
h2,
strong {
  color: $title-color;
}

h1 {
  padding-bottom: 1em;
}

h2 {
  margin-top: 1em;
  padding-top: 1em;
}

a {
  color: $primary-color;
  text-decoration: none;

  &:hover {
    text-decoration: underline;
  }
}

ul {
  list-style-position: inside;
  margin: 0;
  padding: 0;

  li {
    margin-bottom: 0.2rem;
  }
}

.lead {
  font-size: 1.2em;
}

.container {
  margin: 0 auto;
  max-width: $content-width;
}

main {
  @extend .container;
  padding: 4em 1em;

  img {
    max-width: 100%;
    border-radius: 0.5rem;
  }

  @media screen and (max-width: $content-width) {
    padding: 1em;
  }
}

// Sections

.alert {
  background: #f5f7f9;
  border-bottom: 1px solid #d8dee9;
  color: #a7adba;
  border-left: 2px solid #69c;
}

.pros,
.cons {
  margin-top: 1rem;
  ul {
    list-style-type: none;

    li {
      padding-left: 2rem;
      background-position: 0 0.3rem;
      background-size: 1rem;
      background-repeat: no-repeat;
    }
  }
}

.pros ul li {
  color: $success-color;
  background-image: url(../images/plus.png);
}

.cons ul li {
  color: $danger-color;
  background-image: url(../images/minus.png);
}

.section {
  display: inline-block;
  width: 50%;
  vertical-align: top;
}

.images-left {
  img {
    float: left;
    margin-right: 1rem;
    margin-bottom: 0;
  }
}

.filters {
  display: flex;
  > div {
    margin-right: 1rem;
  }
  label {
    margin-bottom: 0;
  }
}
