@import '../sass/variables';

.searchbar {
  display: flex;
  width: 100%;
  margin-bottom: 1em;

  > input[type='text'] {
    flex-grow: 2;
  }
}

.table-wrapper {
  margin-top: -1rem;
  @media screen and (max-width: $content-width) {
    overflow: auto;
  }
}

.filters {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.compare-table {
  margin-top: 1rem;
  width: 100%;

  th,
  td {
    white-space: nowrap;
    padding: 0 0.5rem;
  }

  th {
    background: white;
    position: sticky;
    top: -1px;
    box-shadow: 0 2px 2px -1px rgba(0, 0, 0, 0.4);
  }

  tfoot {
    td {
      border-top: 1px solid #000;
    }
  }

  img {
    margin: 0;
    &.resource {
      max-width: 1rem;
      vertical-align: middle;
    }
  }

  .Castle {
    background: lighten(lightskyblue, 20);
  }

  .Inferno {
    background: lighten(red, 20);
  }

  .Rampart {
    background: lighten(lightgreen, 20);
  }

  .Tower {
    background: #fffafa;
  }

  .Necropolis {
    background: lighten(lightslategrey, 20);
  }

  .Dungeon {
    color: #eee;
    background: brown;
  }

  .Stronghold {
    background: lighten(sandybrown, 20);
  }

  .Fortress {
    color: #eee;
    background: darkolivegreen;
  }

  .Conflux {
    color: #eee;
    background: darkblue;
  }

  .max {
    color: #28a745;
  }
  .min {
    color: #dc3545;
  }
  .creature {
    margin-left: 0.1rem;
    display: inline-block;
    vertical-align: middle;
    background-image: url(../images/creatures.png);
    width: 33px;
    height: 32px;
  }
}
