body {
  font-family: 'Roboto Slab', sans-serif;
  background: url(../images/background.jpg);
  text-align: justify;
  margin-bottom: 2rem;
}

main {
  margin-top: 5rem;
}

h1 {
  margin-bottom: 2rem;
}

h2 {
  margin: 1.5rem 0;
  padding-bottom: 0.5rem;
  border-bottom: 1px solid #000;
}

ul {
  list-style-position: inside;
  margin: 0;

  li {
    margin-bottom: 0.2rem;
  }
}

.pros,
.cons {
  margin-top: 1rem;
  ul {
    list-style-type: none;

    li {
      padding-left: 2rem;
      background-position: 0 0.3rem;
      background-size: 1rem;
      background-repeat: no-repeat;
    }
  }
}

.pros ul li {
  background-image: url(../images/plus.png);
}

.cons ul li {
  background-image: url(../images/minus.png);
}

.section {
  display: inline-block;
  width: 50%;
  vertical-align: top;
}

.fine {
  font-size: 0.8rem;
  color: gray;
  font-style: italic;
}

.navbar li {
  margin-bottom: 0;
}

.filters {
  display: flex;
  > div {
    margin-right: 1rem;
  }
  label {
    margin-bottom: 0;
  }
}

.compare-table {
  margin-top: 1rem;
  font-size: 0.8rem;

  th {
    background: #f1f1f1;
    position: -webkit-sticky;
    position: sticky;
    top: 56px;
    z-index: 2;
  }

  img {
    margin: 0;
    &.resource {
      max-width: 1rem;
      vertical-align: middle;
    }
  }

  .Castle {
    background: lighten(lightskyblue, 20);
  }

  .Inferno {
    background: lighten(red, 20);
  }

  .Rampart {
    background: lighten(lightgreen, 20);
  }

  .Tower {
    background: #fffafa;
  }

  .Necropolis {
    background: lighten(lightslategrey, 20);
  }

  .Dungeon {
    color: #eee;
    background: brown;
  }

  .Stronghold {
    background: lighten(sandybrown, 20);
  }

  .Fortress {
    color: #eee;
    background: darkolivegreen;
  }

  .Conflux {
    color: #eee;
    background: darkblue;
  }

  .max {
    color: #28a745;
  }
  .min {
    color: #dc3545;
  }
  .creature {
    margin-left: 0.1rem;
    display: inline-block;
    vertical-align: middle;
    background-image: url(../images/creatures.png);
    width: 33px;
    height: 32px;
  }
}
